@import "../../app.scss";
.cart {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  // display: none;
}
.cart__overlay {
  flex: 1 1 auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.cart__box {
  flex: 0 0 400px;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.cart__header{
  display: flex;
  justify-content: space-between;
  padding: rem(20);
  align-items: center;
}
.cart__title {

}
.title-cart {
  font-size: rem(30);
  font-weight: 500;
}
.title {
}
.cart__close-btn {
  font-size: rem(20);
  font-weight: 300;
}
.cart__items {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10);
}
.empty__cart {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    width: 50%;
  }
  span {
    padding-top: rem(20);
    font-size: rem(20);
    font-weight: 300;
  }
}
.cart__footer {
  padding: rem(20);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__fullprice {
  align-self: flex-start;
  padding: rem(20) 0;
  font-size: rem(20);
  font-weight: 500;
  span {
    font-weight: 400;
  }
}
.cart__button {
}
.button {
}
.button-text {
  color: #fff;
  font-size: rem(20);
}
.cart__button-text {
}