@import "../../scss/variables";

.content {
  display: flex;
  flex-direction: column;
  min-height: rem(500);
  width: 100%;
  margin-top: rem(100) !important;
}
.content__container {
}
.content__top {
  padding: rem(8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__title {
  display: flex;
  align-items: center;
  gap: rem(14);
}
.title {
}
.title__content {
  font-size: rem(24);
  font-weight: 600;
  color: $mainColor;
  span {
    color: palevioletred;
  }
}
.title__results {
  font-size: rem(20);
  color: #757195;
}
.content__sort {
  padding: rem(10);
  font-size: rem(20);
  font-weight: 500;
}
.content__main {
  // flex: 1 1 100%;
  padding: rem(20) rem(8);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: rem(-10);
  & > * {
    flex: 0 0 20%;
    // align-self: stretch;
    max-height: rem(400);
    overflow: hidden;
  }
}
.content__button {
  text-align: center;
  padding: rem(10);
}
.button {
  width: 245px;
  height: 55px;
  background-color: #9dd458;
  border-radius: 18px;
  box-shadow: 1px 4px 8px -3px rgba(66, 68, 90, 1);
  &:hover {
    background-color: #81af49;
  }
  &:active {
    box-shadow: inset 1px 4px 8px -3px rgba(66, 68, 90, 1);
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #a8a8a8;
    box-shadow: none;
    box-shadow: 1px 4px 8px -3px rgba(66, 68, 90, 1);
  }
}
.button__text {
  color: #fff;
  font-size: rem(18);
}
.button-products {
}
